<div class="p-3">
  <div>
    <h2>Company Portfolio Components</h2>
    <hr />
    <p class="text-secondary">
      You can browse the component library using the navigation on the left.
    </p>
    <h4 class="text-secondary">Component Statuses</h4>
  </div>

  <div class="col-6">
    <p class="text-secondary">
      Components and their variants have been given statuses reflecting their
      state of completion. The available statuses are listed below.
    </p>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Label</th>
          <th scope="col">Description</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <tr>
          <td class="align-middle">
            <div
              class="alert alert-danger d-inline-block align-items-center p-1 my-0"
              role="alert"
            >
              <div>Prototype</div>
            </div>
          </td>
          <td class="text-secondary">Not implemented</td>
        </tr>
        <tr>
          <td class="align-middle">
            <div
              class="alert alert-warning d-inline-block align-items-center p-1 my-0"
              role="alert"
            >
              <div>WIP</div>
            </div>
          </td>
          <td class="text-secondary">
            Work in progress. Implement with caution.
          </td>
        </tr>
        <tr>
          <td class="align-middle">
            <div
              class="alert alert-success d-inline-block align-items-center p-1 my-0"
              role="alert"
            >
              <div>Ready</div>
            </div>
          </td>
          <td class="text-secondary">Ready to implement.</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
