<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav mode="push">
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Search..." value="" />
      </mat-form-field>
    </form>

    <mat-nav-list>
      <a routerLink="./alerts" mat-list-item (click)="sidenav.toggle()">
        <span>Alerts</span>
      </a>

      <a routerLink="./buttons" mat-list-item (click)="sidenav.toggle()">
        <span>Buttons</span>
      </a>

      <a routerLink="./datatables" mat-list-item (click)="sidenav.toggle()">
        <span>Datatables</span>
      </a>

      <a routerLink="./forms" mat-list-item (click)="sidenav.toggle()">
        <span>Forms</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-toolbar>
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <a routerLink="" mat-list-item>
      <span>Company Portfolio Components</span>
    </a>
  </mat-toolbar>

  <router-outlet></router-outlet>
</mat-sidenav-container>
