<!-- <p-splitter
  [style]="{ height: '100%' }"
  [panelSizes]="[20, 80]"
  [minSizes]="[10, 0]"
  styleClass="mb-5"
  layout="vertical"
>
  <ng-template pTemplate>
    <p-splitter [panelSizes]="[15, 85]">
      <ng-template pTemplate>
        <div class="col flex align-items-center justify-content-center">
          <div class="overflow-auto">
            <h4><strong>Alerts</strong></h4>
            <p>Danger:</p>
            <div
              class="alert alert-danger bg-danger-50 color-danger-900 border-danger"
              role="alert"
            >
              <strong>Oh snap!</strong> Change a few things up and try
              submitting again.
            </div>
            <p>Success</p>

            <div
              class="alert alert-success bg-success-50 color-success-900 border-success"
              role="alert"
            >
              <strong>Well Done!</strong> You successfully read this important
              alert message.
            </div>
            <p>Warning</p>

            <div
              class="alert alert-warning bg-warning-50 color-warning-900 border-warning"
              role="alert"
            >
              <strong>Holy guacamole!</strong> You should check in on some of
              those fields below.
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate>
        <div class="col flex align-items-center justify-content-center">
          Panel 3
        </div>
      </ng-template>
    </p-splitter>
  </ng-template>
  <ng-template pTemplate
    ><div class="col flex align-items-center justify-content-center">
      Panel 2
    </div></ng-template
  >
</p-splitter> -->

<p-splitter
  [style]="{ height: '100%' }"
  [panelSizes]="[20, 80]"
  [minSizes]="[10, 0]"
  layout="vertical"
>
  <ng-template pTemplate>
    <p-splitter [panelSizes]="[15, 85]">
      <ng-template pTemplate>
        <div class="align-items-center justify-content-center">
          <div class="overflow-auto" [style]="{ height: '100%' }">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Consequuntur delectus vero laboriosam adipisci exercitationem quas
              itaque ea? Distinctio dolores quae, ducimus debitis nemo
              consectetur voluptatem, aut temporibus tempora suscipit molestiae?
              Neque nam animi voluptate eligendi, maxime laudantium voluptates
              accusamus autem. Officia aut ullam dolorum reiciendis maxime,
              fugit, voluptate harum consequuntur expedita quisquam, saepe amet
              accusamus hic adipisci mollitia laudantium tempore. Facilis non
              perspiciatis exercitationem optio, laborum incidunt laudantium
              quia adipisci, et odio soluta excepturi delectus accusantium sit
              consequuntur labore! Cupiditate architecto beatae sint impedit!
              Velit corporis enim eveniet nemo quos. Earum tempore sit maxime
              itaque, ex voluptatem debitis impedit quidem magni quas accusamus
              eveniet mollitia saepe libero a tenetur pariatur hic harum
              deserunt ab quam? Deserunt rerum totam amet ducimus. Ea commodi
              omnis hic odit atque voluptas temporibus ut amet impedit pariatur
              perferendis numquam consequuntur enim, quia eligendi provident
              inventore quo tempora, deleniti suscipit earum? Possimus neque
              temporibus praesentium quia.
            </p>
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate>
        <div class="col flex align-items-center justify-content-center">
          Panel 3
        </div>
      </ng-template>
    </p-splitter>
  </ng-template>
  <ng-template pTemplate>
    <div class="col flex align-items-center justify-content-center">
      Panel 2
    </div>
  </ng-template>
</p-splitter>
