<!-- <p-splitter
  [style]="{ height: '100%' }"
  [panelSizes]="[20, 80]"
  [minSizes]="[10, 0]"
  styleClass="mb-5"
  layout="vertical"
>
  <ng-template pTemplate>
    <p-splitter [panelSizes]="[15, 85]">
      <ng-template pTemplate>
        <div class="col flex align-items-center justify-content-center">
          <div class="overflow-auto">
            <h4><strong>Alerts</strong></h4>
            <p>Danger:</p>
            <div
              class="alert alert-danger bg-danger-50 color-danger-900 border-danger"
              role="alert"
            >
              <strong>Oh snap!</strong> Change a few things up and try
              submitting again.
            </div>
            <p>Success</p>

            <div
              class="alert alert-success bg-success-50 color-success-900 border-success"
              role="alert"
            >
              <strong>Well Done!</strong> You successfully read this important
              alert message.
            </div>
            <p>Warning</p>

            <div
              class="alert alert-warning bg-warning-50 color-warning-900 border-warning"
              role="alert"
            >
              <strong>Holy guacamole!</strong> You should check in on some of
              those fields below.
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate>
        <div class="col flex align-items-center justify-content-center">
          Panel 3
        </div>
      </ng-template>
    </p-splitter>
  </ng-template>
  <ng-template pTemplate
    ><div class="col flex align-items-center justify-content-center">
      Panel 2
    </div></ng-template
  >
</p-splitter> -->

<!-- <p-splitter
  [style]="{ height: '100%' }"
  [panelSizes]="[20, 80]"
  [minSizes]="[10, 0]"
  layout="vertical"
>
  <ng-template pTemplate>
    <p-splitter [panelSizes]="[15, 85]">
      <ng-template pTemplate>
        <div class="align-items-center justify-content-center">
          <div class="overflow-auto" [style]="{ height: '100%' }">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Consequuntur delectus vero laboriosam adipisci exercitationem quas
              itaque ea? Distinctio dolores quae, ducimus debitis nemo
              consectetur voluptatem, aut temporibus tempora suscipit molestiae?
              Neque nam animi voluptate eligendi, maxime laudantium voluptates
              accusamus autem. Officia aut ullam dolorum reiciendis maxime,
              fugit, voluptate harum consequuntur expedita quisquam, saepe amet
              accusamus hic adipisci mollitia laudantium tempore. Facilis non
              perspiciatis exercitationem optio, laborum incidunt laudantium
              quia adipisci, et odio soluta excepturi delectus accusantium sit
              consequuntur labore! Cupiditate architecto beatae sint impedit!
              Velit corporis enim eveniet nemo quos. Earum tempore sit maxime
              itaque, ex voluptatem debitis impedit quidem magni quas accusamus
              eveniet mollitia saepe libero a tenetur pariatur hic harum
              deserunt ab quam? Deserunt rerum totam amet ducimus. Ea commodi
              omnis hic odit atque voluptas temporibus ut amet impedit pariatur
              perferendis numquam consequuntur enim, quia eligendi provident
              inventore quo tempora, deleniti suscipit earum? Possimus neque
              temporibus praesentium quia.
            </p>
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate>
        <div class="col flex align-items-center justify-content-center">
          Panel 3
        </div>
      </ng-template>
    </p-splitter>
  </ng-template>
  <ng-template pTemplate>
    <div class="col flex align-items-center justify-content-center">
      Panel 2
    </div>
  </ng-template>
</p-splitter> -->

<p-splitter [style]="{ height: '100%' }" styleClass="mb-5" layout="vertical">
  <ng-template pTemplate>
    <div class="overflow-auto" style="height: 80%">
      <div class="">
        <h1>Panel 1</h1>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae
          quo eaque est sit dignissimos, harum assumenda eveniet voluptates
          officiis praesentium doloremque quisquam incidunt, hic a, expedita
          libero? Voluptatum, eum exercitationem! Tempora, sequi. Nihil
          molestias recusandae ullam sequi eos? Temporibus eligendi eos modi
          rerum sapiente officiis esse ratione ab fugit nam, expedita omnis
          ipsum culpa pariatur! Perferendis dolore fugiat animi mollitia?
          Consectetur hic repudiandae, tempora nulla laboriosam voluptatem ipsum
          nesciunt vitae nobis in aperiam, veniam molestiae minus sequi modi
          libero delectus error. Optio delectus culpa amet similique ipsam nisi
          commodi sint? Distinctio voluptates eveniet, sit blanditiis numquam
          ipsa illo sunt iusto, atque a maiores ab dolore explicabo nesciunt
          libero, reiciendis cum cumque? Sapiente quasi quas necessitatibus
          dolorem minima saepe, eum beatae! Dolorem ea earum cupiditate eum
          beatae quas molestiae hic dolor perspiciatis laboriosam perferendis in
          maiores quia, explicabo maxime optio aliquam quaerat voluptatem ipsa.
          Nostrum possimus aspernatur fugit necessitatibus voluptatum unde! Et
          ex maxime voluptates modi odio architecto quaerat voluptate ipsum
          voluptas minus at est, fugit dolorem provident ab eius nam eaque
          minima molestias. Porro officiis, distinctio labore placeat harum ex!
          Magnam repellat modi non, doloribus vero soluta repudiandae laborum
          cum repellendus culpa earum ipsam praesentium totam molestias illum
          recusandae in asperiores, qui ipsa nostrum ducimus aut consequuntur.
          Cupiditate, quo corrupti. Quaerat necessitatibus alias aperiam magnam,
          expedita animi explicabo itaque minus debitis dolorem ratione unde
          repudiandae! Porro, atque. Assumenda vitae suscipit sapiente maxime
          fugiat vel perferendis mollitia, atque quae quisquam recusandae!
          Voluptates, illo consequuntur tenetur porro corrupti, nulla expedita
          quas rerum commodi est explicabo obcaecati! Unde placeat obcaecati
          tenetur ipsam earum odio doloremque odit? Dignissimos a voluptatem
          architecto earum, delectus quaerat. dolorem provident ab eius nam
          eaque minima molestias. Porro officiis, distinctio labore placeat
          harum ex! Magnam repellat modi non, doloribus vero soluta repudiandae
          laborum cum repellendus culpa earum ipsam praesentium totam molestias
          illum recusandae in asperiores, qui ipsa nostrum ducimus aut
          consequuntur. Cupiditate, quo corrupti. Quaerat necessitatibus alias
          aperiam magnam, expedita animi explicabo itaque minus debitis dolorem
          ratione unde repudiandae! Porro, atque. Assumenda vitae suscipit
          sapiente maxime fugiat vel perferendis mollitia, atque quae quisquam
          recusandae! Voluptates, illo consequuntur tenetur porro corrupti,
        </p>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate>
    <div class="col flex align-items-center justify-content-center">
      <h1>Panel 2</h1>
    </div>
  </ng-template>
</p-splitter>
